html, body{
    background-color: #FFF073;
    color: black;
}
.loft {
    background-color: #7279D8;
    border: 2px solid #956BD6;
    height: 100px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px;

}
.NameSite{
    font-size: 40px;
    color: #e2e8f0;
    padding: 25px;
    display: flex;
    align-items: center;
}
.NameSiteAbout {
    justify-content: right;
    font-size: 30px;
    color: #e2e8f0;
    padding: 25px;
    display: flex;
    align-items: center;
}
.grid {
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin: 25px;
}
.buttons {


    right: 0;
    position: fixed;
    border: 2px solid #7279D8;
    background-color: #956BD6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius: 20px;


}
.buttons a {
    padding: 38px;
    text-decoration: none;
    color: #e2e8f0;
    font-size: 25px;
}
.buttons:hover {
    background-color: darkmagenta;
}
.lineButtons {
    display: flex;
}
.Outsider {
    border: 2px solid #7279D8;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;

}

.imgClass {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
.Article {
    margin: 20px;
    padding: 20px;
}
.Article>div{
    background-color: white;
}
.Article>div:hover{
    border: 5px solid #7279D8;
    background-color: #FFDA73;
    font-size: 20px;
}
.descriptionNotes {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.littleButtons {
    height: 50px;
    margin: 10px 50px;
    width: 150px;
    color: #edf2f7;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #7279D8;
    background-color: #956BD6;
}
textarea {
    font-size: 2em;
}
small {
    margin: 0 20px;
}
